
<html>
{% extends 'layout.html' %}
{% block body %}
<style>
h2{
	text-align:center;
	color:white;
font-size:40px;
}
#id1
{
	background:none;
	border:4px solid white; 
	height:145%;
	width:80%;
	text-color:white;
}

h3{
	text-align:left;
font-size:40px;}
h4{
	color:white;
	font-size:25px;
}
</style>


<body  background="../static/img/sib.jpg">
<center><h2><strong><em>Ice-cream Menu</em></strong></h2></center>

<center>
<table>
<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ice/1.jfif" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Chocolate<br>Rs : 30/-</h4>
  </div>
</div>
</td>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ice/2.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">   Chocochips<br>Rs : 40/-       </h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ice/3.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Strawberry<br>Rs : 30/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ice/4.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Anjeer<br>Rs : 50/-</h4>
  </div>
</div>
</td>
</tr>

<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ice/5.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Badaam<br>Rs : 35/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ice/6.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text"> Pista<br>Rs : 60/-   </h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ice/7.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 
    class="card-text">Pineapple<br>Rs : 50/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ice/8.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Mango<br>Rs : 30/-</h4>
  </div>
</div>
</td>
</tr>

</table>

</center>

</body>

{% endblock body %}
</html>