<html>
<style>
h2{
	text-align:center;
	color:white;
font-size:40px;
}
#id1
{
	background:none;
	border:4px solid white; 
	height:145%;
	width:80%;
	text-color:white;
}

h3{
	text-align:left;
font-size:40px;}
h4{
	color:white;
	font-size:25px;
}
</style>
{% extends 'layout.html' %}
{% block body %}
<body  background="../static/img/s.jpg">
<center><h2><strong><em>Meet Our Chefs</em></strong></h2></center>
<center>

<table>
<hr>
<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/che/1.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Rahul Pawar<br>Pune</h4>
  </div>
</div>
</td>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/che/2.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">  Kiran Shinde<br>Sinnar      </h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/che/3.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Rohan Gunjal<br>Sangamner</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/che/4.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Rudra Dongare<br>Ahmednagar</h4>
  </div>
</div>
</td>
</tr>

<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/che/5.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Ajay Sahane<br>Sangamner</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/che/8.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text"> Shubham Khatal<br>Sangamner  </h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/che/7.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 
    class="card-text">Prasad Gunjal<br>Nashik</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/che/6.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Sakshi Raut<br>Pune</h4>
  </div>
</div>
</td>
</tr>

</table>


</center>

</body>

{% endblock body %}
</html>

