<html>
{% extends 'layout.html' %}
{% block body %}
<style>
h2{
	text-align:center;
	color:white;
font-size:40px;
}
#id1
{
	background:none;
	border:6px solid white; 
	height:145%;
	width:80%;
	text-color:white;
}

h3{
	text-align:left;
font-size:40px;}
h4{
	color:white;
	font-size:25px;
}

</style>

<body  background="../static/img/ga.jpg">
<center><h2> <strong><em>You Can Share Your Memories With Us...!!!</em></strong></h2></center>

<center>
<table>
<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/gallery/1.jpg" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/gallery/2.jpg" alt="Card image cap" height="250px" width="250px">
 </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/gallery/3.jpg" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/gallery/4.jpg" alt="Card image cap" height="250px" width="250px">
  </div>
</td>
</tr>

<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/gallery/5.jpg" alt="Card image cap" height="250px" width="250px">
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/gallery/6.jpg" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/gallery/7.png" alt="Card image cap" height="250px" width="250px">
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/gallery/10.jpg" alt="Card image cap" height="250px" width="250px">
 </div>
</td>
</tr>

</table>



</center>

</body>

{% endblock body %}
</html>