<html>

{% extends 'layout.html' %}
{% block body %}
<style>
h2{
	text-align:center;
	color:white;
font-size:40px;
}
#id1
{
	background:none;
	border:4px solid white; 
	height:145%;
	width:80%;
	text-color:white;
}

h3{
	text-align:left;
font-size:40px;}
h4{
	color:white;
	font-size:25px;
}
</style>

<body  background="../static/img/guest.jpg">
<h2><center><strong><em>Guest Room</em></strong></center></h2>
<center>
<table>
<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/guest/g1.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Rs : 5000/-</h4>
  </div>
</div>
</td>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/guest/g2.jpg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">  Rs : 2500/-       </h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/guest/g3.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Rs : 3000/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/guest/g4.png" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Rs : 4000/-</h4>
  </div>
</div>
</td>
</tr>

<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/guest/sb1.jpg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Rs : 2000/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/guest/sb5.jpg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text"> Rs : 1600/-   </h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/guest/sb3.jpg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 
    class="card-text">Rs : 2500/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/guest/sb6.jpg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Rs : 1300/-</h4>
  </div>
</div>
</td>
</tr>

</table>

</form>
</body>

{% endblock body %}
</html>
