{% extends 'layout.html' %}
{% block body %}

<style>

h4{
	text-decoration:bold;
font-size:45px;
padding: 6px;
margin-top:20px;
}

u{font-size:45px;
}

a{
	color: aliceblue;
}
b
{
color: red;
font-size:40px;
}
body{
	color : white;
	
	background-color : black;
	
	background-size:1300px 700px;
	text-decoration:bold;
  }

button{font-size:30px;
	color:white;
	background-color:red;}

	.btn-space { margin-right: 880px; } 


h3{
	text-decoration:bold;
	text-align:left;
font-size:47px;
}
</style>



<body background="../static/img/orlova-maria-oMTlhdFUhdI-unsplash.jpg">  
<div style="height: 80%;width: 100%; color:white;">
<center>
<h4  class="text-center "><u>Welcome to Prasad Pure Veg Restaurant...!!!</u></h4>
<center>
<h3  class="text-center">OUR MISSION IS TO PROVIDE AN UNFORGETTABLE EXPERIENCE</h3><br>
</center>
</center>
</div>
  <button type="button"  class="btn-space ml=5"><a href="/demo" > Visit Online</a></button>
<button type="button"  > <a href="/book" >Booking</a></button>

{% endblock body %}
</body>
