<html>
{% extends 'layout.html' %}
{% block body %}
<style>

h2{
	text-align:center;
	color:white;
font-size:40px;
}
h4{
	color:white;
	font-size:25px;
}

#id1
{
	background:none;
	border:4px solid white; 
	height:145%;
	width:80%;
	text-color:white;
}
</style>




<body  background="../static/img/sib.jpg">
<center><h2><em><strong>Italian Menu</strong></em></h2></center>

<center>

<table>
<hr>
<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ita/1.jfif" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Dumplings<br>Rs : 30/-</h4>
  </div>
</div>
</td>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ita/2.jfif" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Spring Rolls<br>Rs : 40/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ita/3.jfif" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Fried Rice<br>Rs : 30/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ita/4.jfif" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Chowmein<br>Rs : 50/-</h4>
  </div>
</div>
</td>
</tr>

<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ita/5.jfif" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Manchurian<br>Rs : 35/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ita/6.jfif" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Honey Chilli Potato<br>Rs : 60/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ita/7.jfif" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 
    class="card-text">Fried Tofu<br>Rs : 50/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/ita/8.jfif" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Manchurian Soup<br>Rs : 30/-</h4>
  </div>
</div>
</td>
</tr>

</table>
</center>


</body>

{% endblock body %}
</html>