<html>
{% extends 'layout.html' %}
{% block body %}
<br>
<br>
<style>
h2{
	text-align:center;
	color:white;
font-size:40px;
}
#id1
{
	background:none;
	border:6px solid white; 
	height:145%;
	width:80%;
	text-color:white;
}

h3{
	text-align:left;
font-size:40px;}
h4{
	color:white;
	font-size:25px;
}
</style>
<body  background="../static/img/meet.jpg">
<h2><center><strong><em>Meeting Hall</em></strong></center></h2>
<center>
<table>
<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/meet/m2.png" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/meet/m3.png" alt="Card image cap" height="250px" width="250px">
 </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/meet/m4.jpg" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/meet/m5.jpg" alt="Card image cap" height="250px" width="250px">
  </div>
</td>
</tr>

<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/meet/m6.jpg" alt="Card image cap" height="250px" width="250px">
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/meet/m7.jpg" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/meet/m8.jpg" alt="Card image cap" height="250px" width="250px">
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/meet/m9.jpg" alt="Card image cap" height="250px" width="250px">
 </div>
</td>
</tr>

</table>
</body>

{% endblock body %}
</html>
