<html>
<style>
h2{
	text-align:center;
	color:white;
font-size:40px;
}
#id1
{
	background:none;
	border:6px solid white; 
	height:145%;
	width:80%;
	text-color:white;
}

h3{
	text-align:left;
font-size:40px;}
h4{
	color:white;
	font-size:25px;
}
</style>
{% extends 'layout.html' %}
{% block body %}
<body  background="../static/img/party.jpg">
<h2><center><strong><em> Party Hall </em> </strong> </center></h2>
<center>
<table>
<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/party/pp1.png" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/party/pp2.jpg" alt="Card image cap" height="250px" width="250px">
 </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/party/pp3.jpg" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/party/pp4.jpg" alt="Card image cap" height="250px" width="250px">
  </div>
</td>
</tr>

<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/party/pp6.jpg" alt="Card image cap" height="250px" width="250px">
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/party/pp7.jpg" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/party/pp8.jpg" alt="Card image cap" height="250px" width="250px">
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/party/prasad.jfif" alt="Card image cap" height="250px" width="250px">
 </div>
</td>
</tr>

</table>

</body>
{% endblock body %}
</html>
