<html>
<style>
h2{
	text-align:center;
	color:white;
font-size:40px;
}
#id1
{
	background:none;
	border:6px solid white; 
	height:145%;
	width:80%;
	text-color:white;
}

h3{
	text-align:left;
font-size:40px;}
h4{
	color:white;
	font-size:25px;
}
</style>
{% extends 'layout.html' %}
{% block body %}

<body  background="../static/img/pool/p2.png">
<center><h2><strong><em>Pool</em></strong></h2></center>
<center>

<table>
<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/pool/p1.png" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/pool/p2.png" alt="Card image cap" height="250px" width="250px">
 </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/pool/p3.png" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/pool/p4.png" alt="Card image cap" height="250px" width="250px">
  </div>
</td>
</tr>

<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/pool/p5.png" alt="Card image cap" height="250px" width="250px">
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/pool/p6.png" alt="Card image cap" height="250px" width="250px">
  </div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/pool/p7.png" alt="Card image cap" height="250px" width="250px">
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/pool/p8.png" alt="Card image cap" height="250px" width="250px">
 </div>
</td>
</tr>

</table>
</center>
</body>


{% endblock body %}
</html>