<html>

<style>
body{
	color : white;
	
	background-color : black;
	background-size:1500px 700px;
	text-decoration:bold;
	font-size:40px;
  }
h2{
	text-align:center;
	color:white;
	font-size:50px;
}

#id1
{
	background:none;
	border:4px solid white; 
	height:145%;
	width:80%;
	text-color:white;
}

h3{
	text-align:left;
	font-size:40px;}
h4{
	color:white;
	font-size:25px;
}
</style>




{% extends 'layout.html' %}
{% block body %}
<body  background="../static/img/sib.jpg">
<center><h2><strong><em>South Indian Menu</em></strong></h2></center>
<hr>
<fieldset >

<center>
<table>
<hr>
<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/si/1.jfif" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Idli Sambar<br>Rs : 30/-</h4>
  </div>
</div>
</td>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/si/2.jpeg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Dosa<br>Rs : 40/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/si/3.jpg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">MeduVada<br>Rs : 30/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/si/4.cms" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Appam<br>Rs : 50/-</h4>
  </div>
</div>
</td>
</tr>

<tr>
<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/si/5.jpg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Uttapam<br>Rs : 35/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/si/6.jpg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Appe<br>Rs : 60/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/si/7.jpg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Masala Dosa<br>Rs : 50/-</h4>
  </div>
</div>
</td>

<td>
<div class="card" style="width: 18rem;" id="id1">
  <img class="card-img-top" src="../static/img/si/8.jpeg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h4 class="card-text">Rava Idli<br>Rs : 30/-</h4>
  </div>
</div>
</td>
</tr>

</table>
</center>

</fieldset>
</form>
</body>





{% endblock body %}
</html>